* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: #eaeaea;
  font-family: "Roboto", sans-serif;
}
#container {
  background: white;
  width: 70%;
  margin: 40px auto;
  padding-top: 0;
  border-radius: 10px;
}

figcaption {
  font-size: 12px;
  text-align: right;
}
p {
  text-align: left;
  font-size: 16px;
  padding: 10px;
}

img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 5px;
  object-fit: cover;
}

#titulo {
  margin: 10px;
  padding: 10px;
}

#titulo figcaption {
  font-size: 12px;
  text-align: right;
  color: #8f8f8f;
}

#titulo h1 {
  font-size: 28px;
  text-align: center;
  padding: 20px;
}

footer {
  text-align: center;
  margin: 20px;
  font-size: 12px;
  text-decoration: dotted;
}

#lista {
  margin: 10px;
  padding: 10px;
  text-align: left;
}

#lista ul li {
  text-align: justify;
  line-height: 26px;
  font-size: 16px;
  list-style-position: inside;
  gap: 16px;
  padding: 5px;
  list-style-position: inside;
}

#lista ol li {
  line-height: 26px;
  font-size: 16px;
  padding: 5px;
  list-style-position: inside;
}

#lista h4 {
  font-size: 20px;
  text-align: center;
  padding: 20px;
}
